{% extends "GradeTracker/li_basepage.html" %}
{% block content %}

<h2>About us</h2>

<h3>It happens multiple times throughout the semester and the most at the very end.
Everyone wishes there was an easier way to calculate your grades.</h3>

<p>Our company aims to solve that problem by providing what every other 
similar piece of software lacks: efficiency, usability, and persistency.</br></br>
It's what the student of the 21st century needs.</br></br>
We call ourselves GradeTracker. We are a three man team who has taken on the 
ambitious task of simplifying students' lives when it comes to grades. While 
we can't gaurantee an improvement to any one individual's grades, what we can 
gaurantee is more time for individual to study or pursue other...interests. </br></br>
Disclaimer: Studying does not correlate to good grades.</br></br>
</p>

{% endblock %}
