{% extends "GradeTracker/basepage.html" %}
{% block menubar %}
          <li><a href="/GT/{{ student.id }}/">Class</a></li>
          <li><a href="/GT/{{ student.id }}/account">Account Info</a></li>
          <li><a href="/GT/{{ student.id }}/accountedit">Edit Account</a></li>
          <li><a href="/GT/accounts/logout">Logout</a></li>
{% endblock %}

{% block content %}
<h1>{{ user.username }}</h1>
<div id="accordion" >
   <h3><a href="">Account Info</a></h3>
   <div>
	<ul>
		<li>
			<p>Username: {{ user.username }}<p>	
		</li>

		<li>
			<p>Email: {{ user.email }}</p>
		</li>

		<li>
			<p>First Name: {{ user.first_name }}</p>
		</li>

		<li>
			<p>Last Name: {{ user.last_name }}</p>
		</li>
			
		<li>
			<p>Institution: {{ student.Institution }}</p>
		</li>
	</ul>
   </div>
</div>
{% endblock %}
