{% extends "GradeTracker/basepage.html" %}
{% block menubar %}
          <li><a href="/GT/">Home</a></li>
          <!-  Am only referencing list object 0, need to reference whatever student
          name is clicked -->
          <li><a href="/GT/{{ student.id }}/">Classes</a></li>
          <li><a href="page.html">A Page</a></li>
          <li><a href="another_page.html">Another Page</a></li>
          <li><a href="/GT/accounts/logout">Logout</a></li>
{% endblock %}

{% block content %}
<h1>GCal</h1>
<p>Your GCal ID is: {{ oauth }}</p>
<a href="http://www.google.com/device" target="_blank">Click here to enter your device code.</a>

{% endblock %}
