{% extends "GradeTracker/basepage.html" %}
{% block menubar %}
	  <li><a href="/GT/">Home</a></li>
          <li><a href="/GT/{{ student.id }}/">Class</a></li>
          <li><a href="/GT/{{ student.id }}/account">Account Info</a></li>
          <li><a href="/GT/{{ student.id }}/accountedit">Edit Account</a></li>
          <li><a href="/GT/accounts/logout">Logout</a></li>
{% endblock %}


{% block content %}
<h1>{{ student.fName }}</h1>
{{ courses }}
<div id="accordion" >
{% for course in courses %}
{{course}}
   <h3><a href="/GT/{{ student.id }}/{{ course.id }}/"> {{ course.course_name }} </a></h3>
   <div>
   	<ul>
		<ol><span style="margin-left:-30px"><strong>Activties:</strong></span>
		{% for activity in course.grade_activities_set.all %}
			<li style="margin-left:-10px">{{ activity.activity_name }}</li>
			{% if activity.subgraded_activities_set.all %}
				<ol><strong>Subactivities:</strong>
				{% for subactivity in activity.subgraded_activities_set.all %}
					{% if subactivity.main_category == activity %}
						<li style="margin-left:20px">{{ subactivity.subactivity_name }}</li>
					{% endif %}
					{% empty %}
					<li>None</li>
				{% endfor %}
			{% endif %}
			</ol>
		{% empty %}
			<li>None</li>
		{% endfor %}
		</ol>
		<li>
			<a href="/GT/{{ student.id }}/{{ course.id }}/">Add Activities</a>
		</li>
		<li>
			<a href="/GT/editcourse/{{ course.id }}/">Edit Course Information</a>
		</li>
		<li>
			<div><a href="/GT/deleteCourse/{{ course.id }}/" > Delete Course </a></div>
		</li>
	</ul>
    </div>
{% endfor %}
</div>

<br>
<div>
<form action="/GT/{{ student.id }}/" method="post">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit" />
</form>
</div>
{% for course in course %}
<p>course.course_name</p>
{% endfor %}
{% endblock %}
