{% extends "GradeTracker/basepage.html" %}
{% block content %}
<h1>{{ student.fName }}</h1>
<div id="accordion" >
{% for course in student.course_set.all %}
   <h3><a href="/GT/{{ student.id }}/{{ course.id }}/" > {{ course.course_name }} </a></h3>
   <div>
	<div >
		<h3>delete course </h3>
		<div><a href="/GT/deleteCourse/{{ course.id }}/" > DELETE </a></div>
	</div>
    </div>
{% endfor %}
</div>
<form action="/GT/{{ student.id }}/" method="post">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit" />
</form>

{% endblock %}
