{% extends "GradeTracker/basepage.html" %}

{% block menubar %}
          <li><a href="/GT/{{ course.student.id }}/">Class</a></li>
          <li><a href="/GT/{{ course.student.id }}/account">Account Info</a></li>
          <li><a href="/GT/{{ course.student.id }}/accountedit">Edit Account</a></li>
          <li><a href="/GT/accounts/logout">Logout</a></li>
{% endblock %}

{% block content %}
<form action="/GT/editcourse/{{ course.id }}/" method="post">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit" />
</form>

{% endblock %}
