{% extends "GradeTracker/basepage.html" %}

{% block menubar %}
          <li><a href="/GT/{{ student.id }}/">Class</a></li>
          <li><a href="/GT/{{ student.id }}/account">Account Info</a></li>
          <li><a href="/GT/{{ student.id }}/accountedit">Edit Account</a></li>
          <li><a href="/GT/accounts/logout">Logout</a></li>
{% endblock %}

{% block content %}
<h1>{{ course.course_name }}</h1>
<div id="accordion" >
{% for activity in course.graded_activities_set.all %}
   <h3><a href="/GT/{{ student.id }}/{{ course.id }}/"> {{ activity.activity_name }} </a></h3>
   <div>
	<ul>
		<li>
			<h4>Weight: {{ activity.grade_weight }}</h4>
		</li>
		<li>
			<h4>Grade: {{ activity.grade_earned }}</h4>
		</li>
      		<li>
        		<a href="/GT/editactivity/{{activity.id}}" >Edit Activity </a>
      		</li>
		<li>
			<a href="/GT/{{ student.id }}/{{ course.id }}/{{ activity.id }}">Add Subactivity</a>
		</li>
		<li>
			 <a href="/GT/deleteactivity/{{ activity.id }}/" >Delete Activity </a>
		</li>
	</ul>
   </div>
{% endfor %}
</div>

<form action="/GT/{{ student.id }}/{{ course.id }}/" method="post">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit" />
</form>
{% endblock %}
