{% extends "GradeTracker/basepage.html" %}
{% block menubar %}
	  <li><a href="/GT/">Home</a></li>
	  <!-  Am only referencing list object 0, need to reference whatever student
	  name is clicked -->
          <li><a href="/GT/{{ student_list.0.id}}/">Classes</a></li>
          <li><a href="page.html">A Page</a></li>
          <li><a href="another_page.html">Another Page</a></li>
          <li><a href="/GT/accounts/logout">Logout</a></li>
{% endblock %} 

{% block content %}
{% if student_list%}
   {% load staticfiles %} <!-- This loads the static keyword -->
   <ul>
    {% for student in student_list %}
        <li><a href="/GT/{{ student.id }}/" > {{student.fName}} {{student.lName}} </a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No students are available.</p>
{% endif %}

{% endblock %}
