{% extends 'GradeTracker/basepage.html' %}
{% block menubar %}
          <li><a href="/GT/">Home</a></li>
          <!-  Am only referencing list object 0, need to reference whatever student
          name is clicked -->
          <li><a href="/GT/{{ student.id }}/">Classes</a></li>
          <li><a href="">Account Info</a></li>
          <li><a href="/GT/accounts/logout">Logout</a></li>
{% endblock %}

{% block content %}
	{% if form.errors %}
		<p class="error">Sorry, that's not a valid username or password</p>
	{% endif %}
	<form action="/GT/accounts/auth/" method="post">{% csrf_token %}
		<label for="username">User name:</label>
		<input type="text" name="username" value="" id="username">
		<label for="password">Password:</label>
		<input type="password" name="password" value="" id="password">

		<input type="submit" value="login" />
	</form>

        <br/><p>If you haven't created an account yet, click <a href="/GT/accounts/register">here</a>.</p>

{% endblock %}
