{% extends "GradeTracker/basepage.html" %}
{% block content %}

<h1>Search </h1>
<form action="/GT/searchtemplate/" method="post">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit" />
</form>

{% if results_page %}
	<h1>Results</h1>
	<table>
	{%for result in  results %}
		<tr> <td>{{ result.student.Institution }} </td><td> {{result.course_code }} </td><td>{{result.course_name}}</td><td>ADD</td></tr>
	{% empty %}
		<tr>NO RESULTS </tr>
	{% endfor %}
	</table>

<div id="accordion" >
{% for course in results %}
   <h3>{{ course.student.Institution }} : {{course.course_code }} : {{course.course_name}}</h3>
   <div>
   	<ul>
		<ol><span style="margin-left:-30px"><strong>Activties:</strong></span>
		{% for activity in course.graded_activities_set.all %}
			<li style="margin-left:-10px">{{ activity.activity_name }}</li>
			{% if activity.subgraded_activities_set.all %}
				<ol><strong>Subactivities:</strong>
				{% for subactivity in activity.subgraded_activities_set.all %}
					{% if subactivity.main_category == activity %}
						<li style="margin-left:20px">{{ subactivity.subactivity_name }}</li>
					{% endif %}
					{% empty %}
					<li>None</li>
				{% endfor %}
			{% endif %}
			</ol>
		{% empty %}
			<li>None</li>
		{% endfor %}
		</ol>
		<li>
			<a href="/GT/{{ student.id }}/{{ course.id }}/">Add Activities</a>
		</li>
	</ul>
    </div>
{% endfor %}
</div>

{% endif %}

{% endblock %}
