{% extends "GradeTracker/basepage.html" %}

{% load static %}


{% block links %}
  <script src="{% static 'GradeTracker/jquery.min.js' %}"></script> 
  <script type="text/javascript" src="{% static 'GradeTracker/simple-slider.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'GradeTracker/simple-slider.css' %} "  />
  <link rel="stylesheet" type="text/css" href="{% static 'GradeTracker/simple-slider-volume.css' %}"  />  
  
  <!-- These styles are only used for this page, not required for the slider -->
  <style>
  body { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
  [class^=slider] { display: inline-block; margin-bottom: 30px; }
  .output { color: #888; font-size: 14px; padding-top: 1px; margin-left: 5px; vertical-align: top;}
  h1 { font-size: 20px; }
  h2 { clear: both; margin: 0; margin-bottom: 5px; font-size: 16px; }
  p { font-size: 15px; margin-bottom: 30px; }
  h2:first-of-type { margin-top: 0; }
  </style>
{% endblock %}

{% block content %}
<body>

	<h1>Activities</h1>
	<table>
      <tr> 
            <td>Activity</td>
            <td>Activity Weight </td>
      </tr> 
      {% for activity in course.graded_activities_set.all %}
	<tr>
		<td>{{ activity.activity_name }}</td>
		<td>
			<input type="number" name="{{activity.activity_name}}-weight" min="0" max="1"
				value="{{ activity.grade_weight }}" step=".05"/>
		</td>
	</tr>
	{% endfor %}
	</table>

  <table>
  {% for activity in course.graded_activities_set.all %}
  <tr>
    <td>
      {{ activity.activity_name }}
    </td>
    <td>
        <input type='checkbox' id='checks{{ forloop.counter }}' />
    </td>
    <td>
      <input id="slider{{ forloop.counter }}" type="text" data-slider="true" value="{{ activity.grade_earned }}" data-slider-highlight="true" data-slider-theme="volume">
    </td>

   </tr>
  {% endfor %}

  <tr>
    <td>
      Total
    </td>
    <td>
        <input type='checkbox' id='check1' />
    </td>
    <td>
      <input id="slidertotal" type="text" data-slider="true" value="{{ sum }} " data-slider-highlight="true" data-slider-theme="volume">
    </td>

   </tr>


  </table>

<script>
  $("[data-slider]")
    .each(function () {
      var input = $(this);
      $("<span>")
        .addClass("output")
        .insertAfter($(this));
    })
    .bind("slider:ready slider:changed", function (event, data) {
      $(this)
        .nextAll(".output:first")
          .html(data.value.toFixed(2));
    });

  var temptotal = 0;
  var tempsinlge = 0;
  var remainder = 0;
  var total = document.getElementById('slidertotal').value;
  total = parseFloat(total);

  $('#slidertotal').mousedown(function(){
	
  });

  function getTotal(){
	temptotal = 0;
        {% for activity in course.graded_activities_set.all %}
		tempsingle = document.getElementById('slider{{ forloop.counter }}').value * {{ activity.grade_weight }};
                temptotal += tempsingle;
        {% endfor %}
	total = temptotal;
  }

{% for activity in course.graded_activities_set.all %}
  $( "#slider{{ forloop.counter }}" ).bind( "slider:changed", function( event, data ) {
	event.stopImmediatePropogation();
	getTotal();
	$("#slidertotal").simpleSlider("setValue", 
		total );   
  });

{% endfor %}

  </script>    
</body>


{% endblock %}
