{% extends "GradeTracker/li_basepage.html" %}

{% load static %}



{% block content %}
<body>
	<h1>Activities for {{ course.course_name }}</h1>
	<table style="display: inline-block, float:right">
      <tr> 
            <td>Activities</td>
            <td>Activity Weight </td>
	    <td>Grade Entered</td>
      </tr> 
      {% for activity in course.graded_activities_set.all %}
	<tr>
		<td>{{ activity.activity_name }}</td>
		<td>
			<input type="number" name="{{activity.activity_name}}-weight" min="0" max="1"
				value="{{ activity.grade_weight }}" step=".05" readonly/>
		</td>
		<td>    
			<input type="number" name="{{activity.activity_name}}-weight" min="0" max="1"
                                value="{{ activity.grade_earned }}" step=".05" readonly/>
		</td>
	</tr>

	{% endfor %}
	</table>

	{% for activity in course.graded_activities_set.all %}
	<table style="display: inline-block">
		<tr>
			<td>{{ activity.activity_name }}'s SubActivities</td>
			<td>Subactivity Weight</td>
			<td>Grade Entered</td>
		</tr>
		{% for subactivity in activity.subgraded_activities_set.all %}
		<tr>
	                <td>{{ subactivity.subactivity_name }}</td>
        	        <td>
                	        <input type="number" id="subweight{{activity.id}}{{forloop.counter}} 
				name="{{subactivity.subactivity_name}}-weight" min="0" max="1" 
				value="{{ subactivity.subgrade_weight }}" step=".05" readonly/>
	                </td>
	                <td>
        	                <input type="number" name="{{subactivity.subactivity_name}}-weight" min="0" max="1"
                	                value="{{ subactivity.subgrade_earned }}" step=".05" readonly/>
                	</td>
		</tr>
		{% empty %}
		<tr>
			<td>None</td>
			<td><input type="text" name="" value="N/A" readonly/></td>
			<td><input type="text" name="" value="N/A" readonly/></td>
		</tr>
		{% endfor %}
	</table>
	{% endfor %}

  
  {% for activity in course.graded_activities_set.all %}
  <table>
  <tr>
    <td width="20%">
      <strong>{{ activity.activity_name }}</strong>
    </td>
    <td>
        <input type='checkbox' id='check{{ activity.id }}' />
    </td>
    <td>
	<div id="slider{{activity.id}}" style="width: 20em;"> </div>
    </td>
    <td>
	<input type="number" id="grade{{activity.id}}" name="" min="0" max="1"
	value="{{ activity.grade_earned }}" step=".05" readonly/>
    </td>

	{% for subactivity in activity.subgraded_activities_set.all %}
	  <tr>
	    <td width="20%">
	      {{ subactivity.subactivity_name }}
	    </td>
	    <td>
	        <input type='checkbox' id='check{{ activity.id }}{{ forloop.counter }}' />
	    </td>
	    <td>
	        <div id="subslider{{activity.id}}{{ forloop.counter }}" style="width: 20em;"> </div>
	    </td>
	    <td>
	        <input type="number" id="subgrade{{activity.id}}{{forloop.counter}}" name="" min="0" max="1"
	        value="{{ subactivity.subgrade_earned }}" step=".05" readonly/>
	    </td>
	  </tr>
	{% endfor %}
   </tr>
  </table>
  {% endfor %}

  <table>
  <tr>
    <td width="15%">
      Total
    </td>
    <td class="total">
      <div id="slidertotal" > </div>
    </td>
    <td>
        <input type="number" id="totalgrade" name="" min="0" max="1"
        value={{ sum }} step=".05" readonly"/>
    </td>
      </tr>
    
  </table>


</body>


{% endblock %}

{% block script %}

  function getTotal(){
	var total = 0;
	{% for activity in course.graded_activities_set.all %}
		total += $('#slider{{activity.id}}').slider("option", "value") * {{activity.grade_weight}};
        {% endfor %}
	return total;
  }

$(function() {
    {% for activity in course.graded_activities_set.all %}
      $( '#slider{{activity.id}}' ).slider({ min:0.0, max:1.0, step:.01, value : {{activity.grade_earned}}});

    	{% for subactivity in activity.subgraded_activities_set.all %}
		$('#subslider{{activity.id}}{{ forloop.counter }}').slider({ min:0.0, max:1.0, step:.01, value: {{subactivity.subgrade_earned}}});
	{% endfor %}
	
    {% endfor %}
    $( "#slidertotal" ).slider({ min:0.0, max:1.0, step:.01, value:getTotal()});
  });

$('document').ready(function(){
{% for activity in course.graded_activities_set.all %}
    $( "#slider{{activity.id}}" ).slider( {change: function(){
    	  $('#slidertotal').slider("value", getTotal());
  	  var valtop = $('#slider{{ activity.id }}').slider("option", "value");
	  var gradetop = document.getElementById("grade{{ activity.id }}").value;
	  document.getElementById("grade{{ activity.id }}").value=valtop;
	  var diff = gradetop - valtop;

	  {% for subactivity in activity.subgraded_activities_set.all %}
	    if (!(document.getElementById('check{{activity.id}}{{forloop.counter}}').checked)){
              var subactivval = document.getElementById("subgrade{{ activity.id }}{{forloop.counter}}").value;
	      
	      // Set multiplier for decreasing or increasing subactivities
	      if (diff > 0){
	        var multiplier = (subactivval / gradetop);
	      } else{
		if (subactivval > .03){
			var multiplier = (gradetop / subactivval);
		}
		else{
			var multiplier = 1;
		}
	      }
              var subdiff = diff * multiplier;
              var subtotal = subactivval - subdiff;
	      if (subtotal <= 0){
		subtotal = .01;
	      }
	      if (valtop >= .96 && subtotal < valtop){
		subtotal = valtop;
	      }
              $('#subslider{{activity.id}}{{forloop.counter}}').slider("value", subtotal);
              var subval = $('#subslider{{activity.id}}{{forloop.counter}}').slider("option", "value");
              document.getElementById("subgrade{{ activity.id }}{{forloop.counter}}").value=subval;
	    }
          {% endfor %}

          var valtotal = $('#slidertotal').slider("option", "value");
          document.getElementById("totalgrade").value=valtotal;
    }});
{% endfor %}

  {% for activity in course.graded_activities_set.all %}
    {% for subactivity in activity.subgraded_activities_set.all %}
	$('#subslider{{activity.id}}{{forloop.counter}}').slider( {stop: function(event, ui){
	    var val = $('#subslider{{activity.id}}{{forloop.counter}}').slider("option", "value");
	    var grade = document.getElementById('subgrade{{activity.id}}{{forloop.counter}}').value;
	    var weight = {{subactivity.subgrade_weight}};
	    var diff = (val - grade) * weight;
	    var activgrade = document.getElementById("grade{{activity.id}}").value;
	    var total = (activgrade - diff * -1);
	    if (total <= 0){
	      total = .01;
	    }
	    if (val <= 0){
	      val = .01;
	    }
	    document.getElementById("subgrade{{activity.id}}{{forloop.counter}}").value=val;
	  if (!(document.getElementById("check{{activity.id}}").checked)){
	    $("#slider{{activity.id}}").slider("value", total);
	  }
	 }});
    {% endfor %}
  {% endfor %}


  $('#slidertotal').slider({stop:function(event, ui){
	var total = getTotal();
	var diff = ui.value-total;
	{% for activity in course.graded_activities_set.all %}
		var temp = $('#slider{{activity.id}}').slider("option", "value");
		$('#slider{{activity.id}}').slider("value", temp+diff); 
	{% endfor %}
        var val = $('#slidertotal').slider("option", "value");
        document.getElementById("totalgrade").value=val;
  }});

});

{% endblock %}
