{% extends "GradeTracker/basepage.html" %}

{% load static %}


{% block links %}
  <script src="{% static 'GradeTracker/jquery.min.js' %}"></script> 
  <script type="text/javascript" src="{% static 'GradeTracker/simple-slider.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'GradeTracker/simple-slider.css' %} "  />
  <link rel="stylesheet" type="text/css" href="{% static 'GradeTracker/simple-slider-volume.css' %}"  />  
  
  <!-- These styles are only used for this page, not required for the slider -->
  <style>
  body { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
  [class^=slider] { display: inline-block; margin-bottom: 30px; }
  .output { color: #888; font-size: 14px; padding-top: 1px; margin-left: 5px; vertical-align: top;}
  h1 { font-size: 20px; }
  h2 { clear: both; margin: 0; margin-bottom: 5px; font-size: 16px; }
  p { font-size: 15px; margin-bottom: 30px; }
  h2:first-of-type { margin-top: 0; }
  </style>
{% endblock %}

{% block content %}
<body>

	<h1>Activities</h1>
	<table>
      <tr> 
            <td>Activity</td>
            <td>Activity Weight </td>
      </tr> 
      {% for activity in course.graded_activities_set.all %}
	<tr>
		<td>{{ activity.activity_name }}</td>
		<td>
			<input type="number" name="testWeight" min="0" max="1"
				value="{{ activity.grade_weight }}" step=".05"/>
		</td>
	</tr>
	{% endfor %}
	</table>

  <table>
  <tr>
    <td> 
      Tests
    </td>
    <td>
	<input type='checkbox' id='check1' /> 
    </td>
    <td>
      <input id="slide1" type="text" data-slider="true" value="0.4" data-slider-highlight="true" data-slider-theme="volume">
    </td>
      
    </tr>
    <tr>
    <td> 
      Homework
    </td>
    <td>
	<input type='checkbox' id='check2' /> 
    </td>
    <td>
      <input id="slide2" type="text" data-slider="true" value="0.4" data-slider-highlight="true" data-slider-theme="volume">
    </td>
      
    </tr>
    <tr>
    <td> 
      Total
    </td>
    <td>
	<input type='checkbox' id='check3' /> 
    </td>
    <td>
      <input id="slide3" type="text" data-slider="true" value="0.4" data-slider-highlight="true" data-slider-theme="volume">
    </td>
      
    </tr>
  </table>
<script>
  $("[data-slider]")
    .each(function () {
      var input = $(this);
      $("<span>")
        .addClass("output")
        .insertAfter($(this));
    })
    .bind("slider:ready slider:changed", function (event, data) {
      $(this)
        .nextAll(".output:first")
          .html(data.value.toFixed(2));
    });

  $( "#slide1" ).bind( "slider:changed", function( event, data ) {
	testValue = parseFloat($( "input[name='testWeight']").val());
	hwValue = parseFloat($( "input[name='hwWeight']").val());
	$("#slide3").simpleSlider("setValue", 
		testValue * parseFloat( $("#slide1").val() ) + 
		hwValue * parseFloat( $("#slide2").val() ) ) ;
	});

  $( "#slide2" ).bind( "slider:changed", function( event, data ) {
	testValue = parseFloat($( "input[name='testWeight']").val());
	hwValue = parseFloat($( "input[name='hwWeight']").val());
	$("#slide3").simpleSlider("setValue", 
		testValue * parseFloat( $("#slide1").val() ) + 
		hwValue * parseFloat( $("#slide2").val() ) ) ;
	});

  $( "input[type='number']" ).change( function() {
	remainder = 1 - parseFloat( $(this).val( ) ) ;
	name = $( this ).attr( "name" );
	$( "input[type='number']" ).each( function() {
		if( $(this).attr( "name" ) != name ){
			$(this).val( remainder );
		}
	});
	testValue = parseFloat($( "input[name='testWeight']").val());
	hwValue = parseFloat($( "input[name='hwWeight']").val());
	$("#slide3").simpleSlider("setValue", 
		testValue * parseFloat( $("#slide1").val() ) + 
		hwValue * parseFloat( $("#slide2").val() ) ) ;
   });


  </script>    
</body>


{% endblock %}